[default]

DB_TYPE = MSSQL

#ExchangeCode=KASE
ExchangeCode=Exante
#ExchangeCode=AIX
#ExchangeCode=Bloomberg

#признак маркет-мейкера (1-да, 0-нет)
IsMMOrder=0
#признак реальной или тестовой среды
IsReal=1
#признак необходимости подачи заявок (1-да, 0-нет)
IsSendOrder=0
#признак необходимости обработки ExecutionReport (1-да, 0-нет)
IsWriteOrder=0
#признак необходимости запроса справочника инструментов (1-да, 0-нет)
IsInstrRequest=0
#признак необходимости запроса котировок (1-да, 0-нет)
IsQuotesRequest=1
#признак необходимости запроса статуса торгов по инструментам (1-да, 0-нет)
IsTradeStatusRequest=0
MaxMessagesInResendRequest=2000
timerBatchCollectMilliseconds=5000
portionSendOrder=100

SendQuotesToSignalR=Y
SignalREndpoints=https://signalr.bcctrade.kz/api/message,https://test-internal-api-gateway-bcc-invest-app.apps.bcc-group-dev.clouds.bcc.kz/systemX/message/v2

ConnectionString=Data Source=10.15.159.37;Initial Catalog=fixdb;Persist Security Info=True;User ID=fix_user;Password=Topology#57Great$90; Encrypt=False;Trust Server Certificate=True
ConnectionStringMarketData=Data Source=10.15.159.37;Initial Catalog=drivers_beSQL_new;Persist Security Info=True;User ID=fix_user;Password=Topology#57Great$90; Encrypt=False;Trust Server Certificate=True

# db properties
#MSSQL
#DB_CLEAN_ON_LAUNCH = FALSE
#DB_IP = WIN-DUS0A072PNF\\SQLExpress
#DB_PORT = 1433
#DB_NAME = fixdb
#DB_USER = platformAdm
#DB_PASS = Admin$12345

ConnectionType=initiator
FileStorePath=fix/
FileLogPath=fix/
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
ReconnectInterval=5
ReconnectAttempts=3
ServerType=Transactional
RejectInvalidMessage=N
CheckLatency=N

ResetSeqNumFlag=Y
ResetOnEOD=Y

IsTarget=Y
IsSetSeqMsgNum=N
SeqMsgNum=1


#Oracle
DB_AIS_PORT = 1521
DB_AIS_TYPE = ORACLE
DB_AIS_NAME = ***

#real AIS
DB_AIS_IP = ***
DB_AIS_USER = ***
DB_AIS_PASS = ***


#дл€ Ѕлумберга и ћубашера - N
UseDataDictionary=Y
#UseDataDictionary=N

#дл€ Ѕлумберга и ћубашера - FIX.4.2
#дл€ KASE - FIX.4.4
#BeginString=FIX.4.2
#BeginString=FIXT.1.1
BeginString=FIX.4.4

#дл€ Ѕлумберга и ћубашера - не используетс€
#TransportDataDictionary=lib/etc/FIXT11.xml
DataDictionary=lib/etc/FIX44.xml
#DataDictionary=lib/etc/FIX50_ext_sp2.xml
#DataDictionary=C:\Users\birzh\source\repos\quickfixnnew\Examples\TradeClient\bin\Debug\net8.0\lib\etc\FIX50_ext_sp2.xml


#дл€ Ѕлумберга и ћубашера - не используетс€
#AppDataDictionary=lib/etc/FIX50_ext.xml
#AppDataDictionary=lib/etc/FIX50_ext_sp2.xml
AppDataDictionary=lib/etc/FIX44.xml

#дл€ Ѕлумберга и ћубашера - FIX.4.2, дл€ AIX - 7(FIX50) для AIX FIX50SP2 - 9
#DefaultApplVerID=7
#DefaultApplVerID=FIX.5.0SP2
#DefaultApplVerID=FIX.4.2
DefaultApplVerID=FIX.4.4


TargetCompID=EXANTE_FEED

SocketConnectHost=127.0.0.1

SocketConnectPort=8100


#для Блумберга, KASE и Мубашера - не используется
#test Normal AIX
#Username=T07FC001
#test MM AIX
#Username=T12FC002
#Username=O02_FIXOE_1
#Username=T06_FIXMM_1

#для Блумберга и Мубашера - не используется
Password=Systemx

[session]

SenderCompID=MPB4352_FEED


#для KASE - не используется
#test Normal AIX
#SenderSubID=T07FM001
#test MM AIX
#SenderSubID=T12MM001
#SenderSubID=FE015
#SenderSubID=MM009

ValidateFields=N
ValidateUserDefinedFields=Y

ValidateFieldsOutOfOrder=N
CheckLatency=N
#для Блумберга - Y
SocketUseSSL=N

#параметры ключа, закомментить, если не используется (например, для AIX)
#SocketKeyStore=certBloomberg.jks
#SocketKeyStorePassword=yoyN+8Xs4jlaqFG5Ya9l+Q