[default]

DB_TYPE = MSSQL

Broker=JYSAN

#ExchangeCode=KASE
ExchangeCode=AIX
#ExchangeCode=Bloomberg

#признак маркет-мейкера (1-да, 0-нет)
IsMMOrder=0
#признак реальной или тестовой среды
IsReal=0
#признак необходимости подачи заявок (1-да, 0-нет)
IsSendOrder=1
#признак необходимости обработки ExecutionReport (1-да, 0-нет)
IsWriteOrder=1
#признак необходимости запроса справочника инструментов (1-да, 0-нет)
IsInstrRequest=0
#признак необходимости запроса котировок (1-да, 0-нет)
IsQuotesRequest=0
#признак необходимости запроса статуса торгов по инструментам (1-да, 0-нет)
IsTradeStatusRequest=0
MaxMessagesInResendRequest=2000

#ConnectionString=Data Source=WIN-DUS0A072PNF\\SQLEXPRESS;Initial Catalog=fixdb;Persist Security Info=True;User ID=platformAdm;Password=***; Encrypt=False;Trust Server Certificate=True

ConnectionString=Data Source=10.131.30.55\SQLEXPRESS;Initial Catalog=fixdb_test;Persist Security Info=True;User ID=platformAdm;Password=Tsesna$1; Encrypt=False;Trust Server Certificate=True
#urlService=***

# db properties
#MSSQL
#DB_CLEAN_ON_LAUNCH = FALSE
#DB_IP = WIN-DUS0A072PNF\\SQLExpress
#DB_PORT = 1433
#DB_NAME = fixdb
#DB_USER = platformAdm
#DB_PASS = Admin$12345

ConnectionType=initiator
FileStorePath=fix/
FileLogPath=fix/
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
ReconnectInterval=5
ReconnectAttempts=3
ServerType=Transactional
RejectInvalidMessage=N
CheckLatency=N

ResetSeqNumFlag=N
ResetOnEOD=Y

IsTarget=Y
IsSetSeqMsgNum=N
SeqMsgNum=1


#Oracle
DB_AIS_PORT = 1521
DB_AIS_TYPE = ORACLE
DB_AIS_NAME = TSCAP

#test AIS
DB_AIS_IP = 10.131.20.70
DB_AIS_USER = hb
DB_AIS_PASS = hb

DB_AIS_PREFIX = inv.
DB_AIS_FUNCTION = HB_GetIntOrdersForSend
DB_AIS_BONDMARKET = 313

GetOrdersForSendIntervalMilliseconds = 5000

#дл€ Ѕлумберга и ћубашера - N
UseDataDictionary=Y
#UseDataDictionary=N

#дл€ Ѕлумберга и ћубашера - FIX.4.2
#дл€ KASE - FIX.4.4
#BeginString=FIX.4.2
BeginString=FIXT.1.1
#BeginString=FIX.4.4

#дл€ Ѕлумберга и ћубашера - не используетс€
TransportDataDictionary=lib/etc/FIXT11.xml
#DataDictionary=lib/etc/FIX44.xml
#DataDictionary=lib/etc/FIX50_ext_sp2.xml
#DataDictionary=C:\Users\birzh\source\repos\quickfixnnew\Examples\TradeClient\bin\Debug\net8.0\lib\etc\FIX50_ext_sp2.xml


#дл€ Ѕлумберга и ћубашера - не используетс€
#AppDataDictionary=lib/etc/FIX50_ext_sp2.xml
AppDataDictionary=lib/etc/FIX50SP2_AIX.xml

#дл€ Ѕлумберга и ћубашера - FIX.4.2, дл€ AIX - 7(FIX50) для AIX FIX50SP2 - 9
#DefaultApplVerID=7
DefaultApplVerID=FIX.5.0SP2
#DefaultApplVerID=FIX.4.2
#DefaultApplVerID=FIX.4.4


#TargetCompID=AIX
TargetCompID=AI_TEST


#test AIX sp2
SocketConnectHost=10.70.10.25
SocketConnectHost1=10.70.10.26


#test Normal AIX sp2
SocketConnectPort=16102
SocketConnectPort1=16102


#для Блумберга, KASE и Мубашера - не используется
Username=T01_FIXOE_2

#для Блумберга и Мубашера - не используется
Password=Password1!!

[session]
SenderCompID=AIT01

#для KASE - не используется
SenderSubID=FE002

ValidateFields=N
ValidateUserDefinedFields=Y

ValidateFieldsOutOfOrder=N
CheckLatency=N
#для Блумберга - Y
SocketUseSSL=N

#параметры ключа, закомментить, если не используется (например, для AIX)
#SocketKeyStore=certBloomberg.jks
#SocketKeyStorePassword=yoyN+8Xs4jlaqFG5Ya9l+Q
timerBatchCollectMilliseconds=2000
portionSendOrder=100